*{
    margin: 0;
    padding: 0;
}

body{
    background: #2a2826;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    animation: both;
}
body:hover{
    animation: both;
}

div{
    width: 43%;
    height: 61vh;
    background: url(./gif/gifs-geometricos_4.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: cubic-bezier(0.6, -0.46, 1, 0.08);
    transform-style: preserve-3d;
}
a{
    position: absolute;
    text-decoration: none;
    color: hsl(0deg 0% 100%);
    margin: 98px 0px 0px 170px;
    font-size: 30px;
    padding: 81px;
}

@media screen and (max-width: 600px){
    body{
        transition: all;
    }
    body:hover{
        animation: both;
    }
    div{
        width: 89%;
        height: 61vh;
        margin-top: 100px;
        background: url(./gif/gifs-geometricos_4.gif);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: cubic-bezier(0.6, -0.46, 1, 0.08);
        transform-style: preserve-3d;
    }
    div:hover{
        transition-duration: 500ms;
        animation: both;
    }
    a{
        position: absolute;
        text-decoration: none;
        color: hsl(0deg 0% 100%);
        margin: 96px 0px 0px -3px;
        font-size: 30px;
        padding: 81px;
        width: 103px;
    }
}